@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }

  html,
  body {
    @apply m-0 p-0;
  }

  body {
    @apply bg-background text-foreground font-sans text-base;
  }

  input,
  textarea,
  select,
  button {
    @apply font-sans text-base;
  }
}

@layer utilities {
  .bg-gradient-radial-section {
    background: radial-gradient(
      50% 50% at 50% 50%,
      #f6f1fc 0%,
      transparent 100%
    );
  }

  .bg-gradient-to-br-hero {
    background: linear-gradient(
      303deg,
      theme("colors.background.secondary") -197%,
      theme("colors.primary.500") 100%
    );
  }

  .shadow-hero-button {
    box-shadow:
      rgba(16, 0, 69, 0.17) 0px 0.706592px 0.706592px -0.583333px,
      rgba(16, 0, 69, 0.17) 0px 1.80656px 1.80656px -1.16667px,
      rgba(16, 0, 69, 0.16) 0px 3.62176px 3.62176px -1.75px,
      rgba(16, 0, 69, 0.15) 0px 6.8656px 6.8656px -2.33333px,
      rgba(16, 0, 69, 0.13) 0px 13.6468px 13.6468px -2.91667px,
      rgba(16, 0, 69, 0.08) 0px 30px 30px -3.5px,
      rgb(186, 158, 255) 0px 1px 2px 0px inset;
  }

  .shadow-navbar {
    box-shadow:
      rgba(0, 0, 0, 0.04) 0px 0.796192px 0.796192px -1px,
      rgba(0, 0, 0, 0.04) 0px 2.41451px 2.41451px -2px,
      rgba(0, 0, 0, 0.03) 0px 6.38265px 6.38265px -3px,
      rgba(0, 0, 0, 0.01) 0px 20px 20px -4px;
  }

  .shadow-navbar-button {
    box-shadow:
      rgba(45, 24, 93, 0.15) 0px 1px 4px 0px,
      rgba(16, 0, 69, 0.17) 0px 0.706592px 0.706592px -0.583333px,
      rgba(16, 0, 69, 0.17) 0px 1.80656px 1.80656px -1.16667px,
      rgba(16, 0, 69, 0.16) 0px 3.62176px 3.62176px -1.75px,
      rgba(16, 0, 69, 0.15) 0px 6.8656px 6.8656px -2.33333px,
      rgba(16, 0, 69, 0.13) 0px 13.6468px 13.6468px -2.91667px,
      rgba(16, 0, 69, 0.08) 0px 30px 30px -3.5px,
      rgb(186, 158, 255) 0px 1px 2px 0px inset;
  }

  .shadow-button-hover {
    transition: box-shadow 0.3s ease;
  }

  .shadow-button-hover:hover {
    box-shadow:
      rgb(255, 255, 255) 0px 0px 3px 2px,
      rgba(0, 0, 0, 0.35) 0px 6px 12px 3px,
      rgba(0, 0, 0, 0.5) 0px 0px 0px 1px,
      rgba(0, 0, 0, 0.25) 0px 2px 4px 0px;
  }
}

